* {
  box-sizing: border-box;
}

:is(h1,h2,h3,h4,h5,h6) {
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:  #333333;
}

p{
  padding: 15px;
}

header {
  padding: 5px;
  text-align: center;
  font-size: 35px;
  color: white;
  background-color: #666;
}

nav {
  float: left;
  text-align: center;
  background:clear;
  width: 100%;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: clear;
   width: 100%;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

nav li a:hover {
  color: dodgerblue;
}

article {
  /*float: left;*/
  display: table-cell;
  padding: 10px;
  /*width: 50%;*/
  /* height: 500px; */
  background-color: #f1f1f1;
}

section{
	display: table;
	width: 100%;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

figure {
  width: 30%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
}

footer {
  background-color: #777;
  text-align: center;
  color: white;
  width:100%;
  float:right;
}

footer a{
  text-decoration:none;  
}

footer img{
  padding: 10px;
  width:80px; 
  height:80px;
}

@media only screen and (max-width: 600px) {
  nav, article, section { 
    display: block;
    width: 100%;
  }
}